{% extends 'base.html.twig' %}
{% block body %}
<table>
	<tr>
		<td>Category name</td>
		<td>Category color</td>
		<td>options</td>
	</tr>
{% for category in categories %}
	<tr>
	<td style="border:1px solid">{{ category.name}} </td>
	<td style="border:1px solid">{{ category.color}} </td>
	<td>
		<form method="POST" action="{{ path('categoryRemove', {id: category.id}) }}">
			<button>remove</button>
		</form>
	</td>
	</tr>
{% endfor %}
</table>
<a href="{{ path('categoryAdd') }}">add new category</a>
{% endblock %}
