{% extends 'base.html.twig' %}
<table>
	<tr>
		<td>Category name</td>
		<td>Category color</td>
	</tr>
{% for category in categories %}
	<tr>
	<td style="border:1px solid">{{ category.name}} </td>
	<td style="border:1px solid">{{ category.color}} </td>
	</tr>
{% endfor %}
</table>
