<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RandomHelperApp{% endblock %}</title>
        {% block stylesheets %}
		{% stylesheets
		    "@AppBundle/Resources/public/css/style.css"
		%}
		<link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% if is_granted("ROLE_USER") %}
        <div class="footer links">
        <a href="{{ path('app.dashboard') }}">Go to dashboard</a>
        </div>
        {% endif %}
    </body>
</html>
